<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Provider >> Provide the F.Q.N of your implemention of Benchmarker.Framework.IBenchmarkableCache interface -->
    <add key="provider-fqn" value="Benchmarker.NCache.NCacheBenchmarker, Benchmarker.NCache, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="cache-name" value="myPartitionedCache" />
    <add key="total-entries" value="10000"/>
    <add key="num-threads-per-application" value="16" />
    <add key="get-ratio" value="80" />
    <add key="put-ratio" value="20" />
    <!-- Sum of get-ratio and put-ratio should be equal to 100 -->
  </appSettings>
  <runtime> 
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
</configuration>